APP_NAME=ShopSphere
APP_ENV=local
APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_NAME=shopsphere
DB_USER=shopsphere
DB_PASSWORD=shopsphere

JWT_SECRET=replace_with_a_strong_secret
JWT_ACCESS_TOKEN_EXPIRES_IN=3600
